@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Baloo+Bhaijaan+2:wght@600&family=Gasoek+One&display=swap');
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  z-index: 1;
}

h5 b {
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  color: black;
}
